/* *{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
}
/* #zizu{
    /* display:inline-block; */
    /* font-size:4em;
    padding:10px;
    background-color:rgb(58, 56, 56);
    color:white; */
    /* margin-bottom:-30px; */
    /* margin-top:30px; */
/* }
.hair-nav{
    background-color:rgb(9, 150, 150);
} */ 
/* .img-frame-1{
    /* background-image: url("../images/hairstyle1.jpg");
    background-repeat: no-repeat;
    background-size:100%; */
    /* border
}  */